@page
@model ZealandZooCase.Pages.AdminFolder.EventCrud.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OurEvent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OurEvent.EventName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OurEvent.EventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OurEvent.EventDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OurEvent.EventDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OurEvent.EventDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OurEvent.EventDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OurEvent.EventMaxAttendance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OurEvent.EventMaxAttendance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OurEvent.EventTicketPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OurEvent.EventTicketPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OurEvent.EventImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OurEvent.EventImageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OurEvent.Address)
        </dt>
        <dd class="col-sm-10">
            @($"{Model.OurEvent.Address.Street}, {Model.OurEvent.Address.AddressPostalcodeNavigation.City}, {Model.OurEvent.Address.AddressPostalcodeNavigation.State}, {Model.OurEvent.Address.AddressPostalcodeNavigation.Country}"))
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OurEvent.EventId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
