@page
@model ZealandZooCase.Pages.AdminFolder.EventCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OurEvent[0].EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurEvent[0].EventDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurEvent[0].EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurEvent[0].EventMaxAttendance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurEvent[0].EventTicketPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurEvent[0].EventImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurEvent[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OurEvent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventMaxAttendance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTicketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventImageName)
            </td>
            <td>
                    @($"{item.Address.Street}, {item.Address.AddressPostalcodeNavigation.City}, {item.Address.AddressPostalcodeNavigation.State}, {item.Address.AddressPostalcodeNavigation.Country}"))
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EventId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EventId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
